body 
{
    font-family: sans-serif;
    margin: 0px;
    background: #D1EBFE;
    align-items: center;
}

header
{
    background: #2AAF74;
    display: flex;
    min-height: auto;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.container
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box 
{
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    color: black;
    height: 100%;
    width: auto;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color: #4ED99C;
    margin: 20px;
    padding: 10px 155px 10px 155px;
    background: #F7BE7F;
}


.timer-container
{
    background: #D1EBFE;
    border-radius: 10px;
    color: black;
    width: 150px;
    margin: 10px;
    padding: 15px 20px;
}

.timer-part
{
    font-size: 36px;
    font-weight: bold;
}

.timer_btn
{
    width: 50px;
    height: 50px;
    border-radius: 25%;
    border: none;
    color: #2AAF74;
    background-color: #D1EBFE;
    transition: 0.3s;
}

.timer_btn:hover
{
    color: #D1EBFE;
    background-color: #2AAF74;
}

@media (min-width: 1070px)
{
    header
    {
        width: auto;
    }
}

@media (max-width: 1069px)
{
    header
    {
        width: auto;
    }

    .box
    {
        padding: 10px;
    }
    
    .container
    {
        flex-direction: column;
    }
}

