body 
{
    font-family: sans-serif;
    margin: 0px;
    background: #D1EBFE;
    align-items: center;
}

header
{
    background: #2AAF74;
    display: flex;
    min-height: auto;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.inactive
{
    display: none;
}

.container
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box 
{
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    color: black;
    height: 100%;
    width: auto;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color: #4ED99C;
    margin: 20px;
    padding: 10px 155px 10px 155px;
    background: #F7BE7F;
}


.timer-container
{
    background: #D1EBFE;
    border-radius: 10px;
    color: black;
    width: 150px;
    margin: 10px;
    padding: 15px 20px;
}

.timer-part
{
    font-size: 36px;
    font-weight: bold;
}

.timer_btn
{
    width: 50px;
    height: 50px;
    border-radius: 25%;
    border: none;
    color: #2AAF74;
    background: #D1EBFE;
    transition: 0.3s;
    cursor: pointer;
}

.timer_btn:hover
{
    color: #D1EBFE;
    background-color: #2AAF74;
}

.row
{
    display: flex;
    background: #D1EBFE;
    border-radius: 30px;
    padding-left: 15px;
    margin-bottom: 25px;
}

.input-box
{
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

.add-btn
{
    border: none;
    outline: none;
    padding: 15px 25px;
    border-radius: 30px;
    background: #2AAF74;
    color: #D1EBFE;
    transition: 0.3s;
    cursor: pointer;
}

.add-btn:hover
{
    background: #4ED99C;
}

.list-container
{
    margin: 0px;
    padding: 0px;
}

ul li
{
    background: #D1EBFE;
    text-align: left;
    list-style: none;
    font-size: 18px;
    padding: 12px ;
    margin: 12px;
    user-select: none;
    cursor: pointer;
    border-radius: 30px;   
    position: relative; 
}

.darkGreen
{
    color: #2AAF74;
}

.darkGreen:hover
{
    color: #D1EBFE;
    background-color: #2AAF74;
}

ul li::before
{
    content: '';
    position: absolute;
}

.delete-btn
{
    position: absolute;
    right: 10px;
    top: 15px;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
}

.emptyBox
{
    position: relative;
    top: 5px;
    border-radius: 25%;
}

.taskText
{
    position: absolute;
    top: 20px;
}

.checked
{
    color: #555;
    text-decoration: line-through;
}

@media (min-width: 1069px)
{
    header
    {
        width: auto;
    }
}

@media (max-width: 1070px)
{
    header
    {
        width: auto;
    }

    .box
    {
        padding: 10px auto;
    }
    
    .container
    {
        flex-direction: column;
    }
}

@media (max-width: 550px)
{
    header
    {
        width: auto;
    }

    .box
    {
        padding: 10px;
    }
    
    .container
    {
        flex-direction: column;
    }
}

