body 
{
    font-family: sans-serif;
    background: tomato;
    margin: 0px;
}

header
{
    background: #2AAF74;
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.title
{
    align-items: center;
}